<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="f__block1">
                <a href="" class="header__nav_logo f__block1_logo">Premium<span class="header__nav_logo_span">car</span></a>
                <p class="f__block1_description">
                    Short description about the company Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <div class="f__block1_links">
                    <h1 class="f__block1_links_title">
                        Keep in touch
                    </h1>
                    <div class="f__block1_links_link">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-google-plus-g"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
            <div class="f__block2">
                <h1 class="f__block2_title">
                    Recent posts
                </h1>
                <div class="f__block2_card">
                    <img src="./images/f__block2_img1.webp" alt="">
                    <div class="f__block2_card_right">
                        <h1 class="f__block2_card_right_title">
                            One of Saturn’s largest rings may be newer than…
                        </h1>
                        <p class="f__block2_card_right_description">
                            Rickie Baroch - June 6, 2019
                        </p>
                    </div>
                </div>
                <div class="f__block2_card">
                    <img src="./images/f__block2_img2.webp" alt="">
                    <div class="f__block2_card_right">
                        <h1 class="f__block2_card_right_title">
                            One of Saturn’s largest rings may be newer than…
                        </h1>
                        <p class="f__block2_card_right_description">
                            Rickie Baroch - June 6, 2019
                        </p>
                    </div>
                </div>
                <div class="f__block2_card">
                    <img src="./images/f__block2_img3.webp" alt="">
                    <div class="f__block2_card_right">
                        <h1 class="f__block2_card_right_title">
                            One of Saturn’s largest rings may be newer than…
                        </h1>
                        <p class="f__block2_card_right_description">
                            Rickie Baroch - June 6, 2019
                        </p>
                    </div>
                </div>
            </div>
            <div class="f__block3">
                <h1 class="f__block3_title">
                    Newsletter
                </h1>
                <input type="text" class="f__block3_inp" placeholder="Your name">
                <input type="email" class="f__block3_inp" placeholder="Your email adress">
                <a href="" class="f__block3_link">
                    Subscribe to newsletter
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="footer_s">
    <div class="container">
        <div class="footer__link">
            <p class="footer__link_text">
                @2019 Logwork. All Right Reserved.
            </p>
            <ul class="header__nav_list">
                <li>
                    <a href="" class="header__nav_list_link">Home</a>
                </li>
                <li>
                    <a href="" class="header__nav_list_link">Recipes</a>
                </li>
                <li>
                    <a href="" class="header__nav_list_link">Article</a>
                </li>
                <li>
                    <a href="" class="header__nav_list_link">Contact</a>
                </li>
                <li>
                    <a href="" class="header__nav_list_link">Purchase</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="./script/common.js"></script>
</body>
</html>