<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.min.css">
    <link rel="stylesheet" href="./fonts/icons/css/all.css">
    <title>Document</title>
</head>

<body>
    <div class="blocks__content">
        <div class="content">
            <div class="bb1"></div>
            <div class="bb2"></div>
            <div class="bb3"></div>
        </div>
    </div>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <nav class="header__nav">
                    <a href="" class="header__nav_logo">Premium<span class="header__nav_logo_span">car</span></a>
                    <ul class="header__nav_list">
                        <li>
                            <a href="" class="header__nav_list_link">Home</a>
                        </li>
                        <li>
                            <a href="" class="header__nav_list_link">Recipes</a>
                        </li>
                        <li>
                            <a href="" class="header__nav_list_link">Article</a>
                        </li>
                        <li>
                            <a href="" class="header__nav_list_link">Contact</a>
                        </li>
                        <li>
                            <a href="" class="header__nav_list_link">Purchase</a>
                        </li>
                    </ul>
                    <i class="far fa-search header__nav_search"></i>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="header__content">
                <div class="big__card">
                    <div class="big__card_div">
                        Vehicle
                    </div>
                    <div class="big__card_text">
                        <h1 class="big__card_text_title">
                            Rickie Baroch - June 6, 2019
                        </h1>
                        <p class="big__card_text_description">
                            One of Saturn’s largest rings may be newer than anyone
                        </p>
                    </div>
                </div>
                <div class="cards">
                    <div class="cards__card c1">
                        <div class="cards__card_div">
                            Vehicle
                        </div>
                        <div class="cards__card_text">
                            <h1 class="cards__card_text_title">
                                Rickie Baroch - June 6, 2019
                            </h1>
                            <p class="cards__card_text_description">
                                One of Saturn’s largest rings may be newer than anyone
                            </p>
                        </div>
                    </div>
                    <div class="cards__card c2">
                        <div class="cards__card_div">
                            Vehicle
                        </div>
                        <div class="cards__card_text">
                            <h1 class="cards__card_text_title">
                                Rickie Baroch - June 6, 2019
                            </h1>
                            <p class="cards__card_text_description">
                                One of Saturn’s largest rings may be newer than anyone
                            </p>
                        </div>
                    </div>
                    <div class="cards__card c3">
                        <div class="cards__card_div">
                            Vehicle
                        </div>
                        <div class="cards__card_text">
                            <h1 class="cards__card_text_title">
                                Rickie Baroch - June 6, 2019
                            </h1>
                            <p class="cards__card_text_description">
                                One of Saturn’s largest rings may be newer than anyone
                            </p>
                        </div>
                    </div>
                    <div class="cards__card c4">
                        <div class="cards__card_div">
                            Vehicle
                        </div>
                        <div class="cards__card_text">
                            <h1 class="cards__card_text_title">
                                Rickie Baroch - June 6, 2019
                            </h1>
                            <p class="cards__card_text_description">
                                One of Saturn’s largest rings may be newer than anyone
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>