<main class="main">
    <div class="container">
        <div class="main__content">
            <div class="left">
                <div class="block">
                    <img src="./images/main__img1.webp" alt="">
                    <div class="block__content">
                        <div class="block__content_div">
                            Vehicle
                        </div>
                        <h1 class="block__content_title">
                            One of Saturn’s largest rings may be newer than anyone
                        </h1>
                        <p class="block__content_little">
                            Rickie Baroch - June 6, 2019
                        </p>
                        <p class="block__content_description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                        </p>
                    </div>
                </div>
                <div class="block">
                    <img src="./images/main__img2.webp" alt="">
                    <div class="block__content">
                        <div class="block__content_div">
                            Vehicle
                        </div>
                        <h1 class="block__content_title">
                            One of Saturn’s largest rings may be newer than anyone
                        </h1>
                        <p class="block__content_little">
                            Rickie Baroch - June 6, 2019
                        </p>
                        <p class="block__content_description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                        </p>
                    </div>
                </div>
                <div class="block">
                    <img src="./images/main__img3.webp" alt="">
                    <div class="block__content">
                        <div class="block__content_div">
                            Vehicle
                        </div>
                        <h1 class="block__content_title">
                            One of Saturn’s largest rings may be newer than anyone
                        </h1>
                        <p class="block__content_little">
                            Rickie Baroch - June 6, 2019
                        </p>
                        <p class="block__content_description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                        </p>
                    </div>
                </div>
                <div class="block">
                    <img src="./images/main__img4.webp" alt="">
                    <div class="block__content">
                        <div class="block__content_div">
                            Vehicle
                        </div>
                        <h1 class="block__content_title">
                            One of Saturn’s largest rings may be newer than anyone
                        </h1>
                        <p class="block__content_little">
                            Rickie Baroch - June 6, 2019
                        </p>
                        <p class="block__content_description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                        </p>
                    </div>
                </div>
                <div class="block">
                    <img src="./images/main__img5.webp" alt="">
                    <div class="block__content">
                        <div class="block__content_div">
                            Vehicle
                        </div>
                        <h1 class="block__content_title">
                            One of Saturn’s largest rings may be newer than anyone
                        </h1>
                        <p class="block__content_little">
                            Rickie Baroch - June 6, 2019
                        </p>
                        <p class="block__content_description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                        </p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="right__block1">
                    <img src="./images/right__img1.webp" alt="">
                    <h1 class="right__block1_title">
                        Leon Hunt
                    </h1>
                    <p class="right__block1_little">
                        Food & cooking bloger
                    </p>
                    <p class="right__block1_description">
                        Hi, I'm Leon. Cooking is the way I express my creative side to the world. Welcome to my Kitchen Corner on…
                    </p>
                    <a href="" class="right__block1_link">
                        Continue Reading
                    </a>
                </div>
                <div class="right__block2">
                    <h1 class="right__block2_title">
                        Popular posts
                    </h1>
                    <div class="right__block2_card">
                        <img src="./images/right__img2.webp" alt="">
                        <h1 class="right__block2_card_title">
                            One of Saturn’s largest rings may be newer than anyone
                        </h1>
                        <p class="right__block2_card_description">
                            Rickie Baroch - June 6, 2019
                        </p>
                    </div>
                    <div class="right__block2_card">
                        <img src="./images/right__img3.webp" alt="">
                        <h1 class="right__block2_card_title">
                            One of Saturn’s largest rings may be newer than anyone
                        </h1>
                        <p class="right__block2_card_description">
                            Rickie Baroch - June 6, 2019
                        </p>
                    </div>
                    <div class="right__block2_card">
                        <img src="./images/right__img4.webp" alt="">
                        <h1 class="right__block2_card_title">
                            One of Saturn’s largest rings may be newer than anyone
                        </h1>
                        <p class="right__block2_card_description">
                            Rickie Baroch - June 6, 2019
                        </p>
                    </div>
                </div>
                <div class="right__block3">
                    <h1 class="right__block3_title">
                        Instagram
                    </h1>
                    <div class="right__block3_img">
                        <img src="./images/right__block3_img1.webp" alt="">
                        <img src="./images/right__block3_img2.webp" alt="">
                        <img src="./images/right__block3_img3.webp" alt="">
                        <img src="./images/right__block3_img4.webp" alt="">
                        <img src="./images/right__block3_img5.webp" alt="">
                        <img src="./images/right__block3_img6.webp" alt="">
                    </div>
                    <a href="" class="right__block3_link">
                        <i class="fab fa-instagram"></i>
                        View instagram
                    </a>
                </div>
                <div class="right__block4">
                    <h1 class="right__block4_title">
                        Tags
                    </h1>
                    <div class="right__block4_tags">
                        <a href="" class="right__block4_tags_tag">
                            Business
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Freelance
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Money
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Experience
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Lifestyle
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            SEO
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Wordpress
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Marketing
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            UX
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Modern
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Success
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Nature
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Productivity
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Sales page
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Sell
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Teamwork
                        </a>
                        <a href="" class="right__block4_tags_tag">
                            Monetize
                        </a>
                    </div>
                </div>
                <div class="right__block5">
                    <h1 class="right__block5_title">
                        Email newsletter
                    </h1>
                    <p class="right__block5_description">
                        Sign up to receive email updates and to hear what's going on.
                    </p>
                    <input type="text" class="right__block5_inp" placeholder="Your name">
                    <input type="email" class="right__block5_inp" placeholder="Your email adress">
                    <a href="" class="right__block5_link">
                        Subscribe to newsletter
                    </a>
                </div>
            </div>
        </div>
        <div class="b1">
            <button class="b1__div">
                <i class="fal fa-chevron-left"></i>
            </button>
            <button class="b1__div active">
                1
            </button>
            <button class="b1__div">
                2
            </button>
            <button class="b1__div">
                3
            </button>
            <button class="b1__div">
                ...
            </button>
            <button class="b1__div">
                8
            </button>
            <button class="b1__div">
                <i class="fal fa-chevron-right"></i>
            </button>
        </div>
        <div class="add">
            <h1 class="add__title">
                Most popular 
            </h1>
            <div class="add__cards">
                <div class="add__cards_card">
                    <img src="./images/add__img1.webp" alt="">
                    <div class="add__cards_card_div">
                        BMW
                    </div>
                    <h1 class="add__cards_card_title">
                        One of Saturn’s largest rings may be newer than anyone
                    </h1>
                    <p class="add__cards_card_description">
                        Rickie Baroch - June 6, 2019
                    </p>
                </div>
                <div class="add__cards_card">
                    <img src="./images/add__img2.webp" alt="">
                    <div class="add__cards_card_div">
                        BMW
                    </div>
                    <h1 class="add__cards_card_title">
                        One of Saturn’s largest rings may be newer than anyone
                    </h1>
                    <p class="add__cards_card_description">
                        Rickie Baroch - June 6, 2019
                    </p>
                </div>
                <div class="add__cards_card">
                    <img src="./images/add__img3.webp" alt="">
                    <div class="add__cards_card_div">
                        BMW
                    </div>
                    <h1 class="add__cards_card_title">
                        One of Saturn’s largest rings may be newer than anyone
                    </h1>
                    <p class="add__cards_card_description">
                        Rickie Baroch - June 6, 2019
                    </p>
                </div>
                <div class="add__cards_card">
                    <img src="./images/add__img4.webp" alt="">
                    <div class="add__cards_card_div">
                        BMW
                    </div>
                    <h1 class="add__cards_card_title">
                        One of Saturn’s largest rings may be newer than anyone
                    </h1>
                    <p class="add__cards_card_description">
                        Rickie Baroch - June 6, 2019
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>